body{
    color: #611c18;
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 600px;
    height: 490px;
}

a{
    color: #cf0000;
}

a:hover{
    color: indigo;
}


#medibang{
    width: 540px;
}

header, nav, aside{
    text-align: center;
}

iframe, img{
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* These center the images and video. */
}

div{
    margin: 60px;
}

article{
    text-align: justify;
}

h5{
    margin: 50px;
}

.ibis_sprite {
	background: url(../images/image_sprites.png) no-repeat -4px -8px;
	width: 42px;
	height: 42px;
}

.clipstudio_sprite {
	background: url(../images/image_sprites.png) no-repeat -53px -8px;
	width: 45px;
	height: 38px;
}

.artrocket_sprite {
	background: url(../images/image_sprites.png) no-repeat -104px -11px;
	width: 40px;
	height: 39px;
}

.medibang_sprite{
    background: url(../images/image_sprites.png) no-repeat -155px -9px;
	width: 34px;
	height: 39px;
}

.ibis_sprite,.clipstudio_sprite, .medibang_sprite, .artrocket_sprite{
    float: left;
    margin: 10px;
}

.ibis_sprite:hover{
    opacity: 0.5;
}

.clipstudio_sprite:hover{
    opacity: 0.5;
}

.medibang_sprite:hover{
    opacity: 0.5;
}

.artrocket_sprite:hover{
    opacity: 0.5;
}

.container{
    margin: 0px 625px 0px 625px; /* This centers all the icons relative to the webpage. */
 }

