body{
    color: #611c18;
    background-color: pink;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

nav {
    width: 100%;             /* This makes it so that the flexbox will never go past the monitor size. */
    display: flex;
    justify-content: center; /* This and display flex centers the parent div so that the divs are aligned w/ respect to the entire webpage. */
}

nav > section {
    flex: 1;      /* Each box will have the same size.*/
    padding: 10px /* This makes padding around the section. */
}

figure {
    width: 100%;  /* This ensures that the width of the image is equal to the width of the section. -> */
    height: 100%; /* This ensures that the height of the image is equal to the height of the container. */
    margin: 0;    
    padding: 0;   
}

img {
    width: 100%;  /*Image is as large as its container.*/
    height: 100%; /*Standardizes height of the image.*/
}

a{
    color: #cf0000;
}

a:hover{
    color: indigo;
}

h5{
    margin: 50px;
}

.ibis_sprite {
	background: url(../images/image_sprites.png) no-repeat -4px -8px;
	width: 42px;
	height: 42px;
}

.clipstudio_sprite {
	background: url(../images/image_sprites.png) no-repeat -53px -8px;
	width: 45px;
	height: 38px;
}

.artrocket_sprite {
	background: url(../images/image_sprites.png) no-repeat -104px -11px;
	width: 40px;
	height: 39px;
}

.medibang_sprite{
    background: url(../images/image_sprites.png) no-repeat -155px -9px;
	width: 34px;
	height: 39px;
}

div{
    float:left;
    margin: 10px;
}

div:hover{
    opacity: 0.5;
}

.container{
    margin: 0px 625px 0px 625px; /* This centers all the icons relative to the webpage. */
 }








